/* Bouton back to top */

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-top {
  width: 5%;
  height: 5%;
  position: fixed;
  bottom: 25px;
  left: 20px;
  display: none;
  z-index: 200;
}

.scroll-top i {
  display: inline-block;
  color: #fff;
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /
}

body {
  background: url("https://i.imgur.com/MPvP6d5.jpg") fixed no-repeat 10% 40%;
  background-size: cover;
}

/* Testimonials */

.content {
  padding-top: 30px;
}

.testi {
  margin: auto;
  border-radius: 15px 50px 30px;
  background: rgba(153,153,153, 0.8);
  margin-bottom: 100px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

.carousel-info {
  text-align: center;
}

blockquote p {
  text-align: center;
}

.testimonials blockquote {
  background: rgba(0, 0, 0, 0.9);
  border: medium none;
  color: white;
  display: block;
  font-size: 26px;
  line-height: 30px;
  padding: 15px;
  margin: 15px;
  border-radius: 30px;
  position: relative;
}

.testimonials .carousel-info img {
  border: 1px solid black;
  border-radius: 150px !important;
  height: 130px;
  padding: 3px;
  width: 130px;
  margin-top: 15px;
}

.testimonials .carousel-info img {
  margin-right: 15px;
}

.testimonials .carousel-info span {
  display: block;
}

.testimonials span.testimonials-name {
  color: #e6400c;
  font-size: 30px;
  font-weight: 300;
  margin: 23px 0 7px;
}

.testimonials span.testimonials-post {
  color: black;
  font-size: 18px;
}

.toto {
  background-color: red;
}

/* css Martin */

.NotreMenu {
  background-color: rgba(153,153,153, 0.8);
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

.carte {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  color: black;
  line-height: 3;
  margin-bottom: 80px;
  font-size: 100px;
  margin-top: 50px;
}

.Plats {
  color: black;
  font-size: 50px;
  line-height: 3;
  font-family: 'Dancing Script', cursive;
}

.plat {
  color: black;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
}

.space-30 {
  border-bottom: solid black 2px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.space-50 {
  margin-top: 30px;
  margin-bottom: 100px;
}

.img {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 450px;
  margin-top: 165px;
}

@media only screen and (max-width: 840px) {
  .img {
    display: none;
  }
}

.img1 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 260px;
  margin-left: 80px;
  margin-top: 170px;
}

@media only screen and (max-width: 840px) {
  .img1 {
    display: none;
  }
}


.title-1 {
  text-align: center;
  font-size: 60px;
  color: black;
  line-height: 1.5;
  margin-bottom: 150px;
  font-family: 'Dancing Script', cursive;
}

.navListVertical {
  line-height: 100px;
  text-align: center;
  margin-top: 100px;
}

.card-img-top1 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  margin-top: 150px;
}

@media only screen and (max-width: 840px) {
  .card-img-top1 {
    display: none;
  }
}

.card-img-top2 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  margin-left: 60px;
  margin-top: 90px;
}

@media only screen and (max-width: 840px) {
  .card-img-top2 {
    display: none;
  }
}

.card-img-top3 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 320px;
  margin-top: 150px;
}

@media only screen and (max-width: 840px) {
  .card-img-top3 {
    display: none;
  }
}

.Nomderesto {
  color: black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}

.spécialité {
  color: black;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.Bio {
  color: black;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  line-height: 1.5;
  padding-bottom: 70px;
  font-size: 45px;
}

.quisommesnous{
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  margin-top: 80px;
  background-color: rgba(153, 153, 153, 0.8);
  border-width: medium;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

/* CSS de Alexandre*/

.sectionLegal {
  background-color: rgba(153, 153, 153, 0.8);
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

#form_name {
  width: 170px;
}

#form_lastname {
  width: 170px;
}

#form_email {
  max-width: 420px;
  min-width: 90px;
}

#form_message {
  max-width: 440px;
  min-width: 90px;
}

#map {
  max-width: 520;
  min-width: 280;
  max-height: 480;
  min-height: 280;
}

@media (max-width: 770px) {
  #map {
    height: 180px;
  }
}

.partnerSection {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(153, 153, 153, 0.8);
  padding-bottom: 40px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

.containerSmall2 {
  width: 500px;
  height: 450px;
}

.contactTitle {
  font-size: 50px;
  text-align: center;
}
.partnersTitle {
  text-align: center;
  font-size: 50px;
}

footer {
  background-color: #0F0F0F;
  margin-top: 40px;
}

.contactSection {
  margin-top: 100px;
  background-color: rgba(153, 153, 153, 0.8);
  background-size: auto;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
}

.input-icon-wrap {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.input-icon {
  background: #ddd;
  border-radius: 4px;
}

.form-control {
  border: none;
  flex: 1;
}

.input-icon, .input-with-icon {
  padding: 8px;
}

.ft-ic {
  color: white;
}

.rgba-white-light {
  color: white;
}

.legalTitle {
  text-align: center;
  font-size: 2.3em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
}

/*commentaires David */
/* Carroussel */

.sloganCaroussel {
  font-size: 50px;
  font-family: 'Lato', serif;
  color:black;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

.titreCaroussel {
  font-size: 100px;
  font-family: 'Ultra', serif;
}


.Cooker {
  color:red;
}
#carouselExampleIndicators {
  height: 500%;
}

/* 3 bonnes raisons */
.imageFondX{
background-image: url(https://i.imgur.com/gQNsK7a.jpg?1);
transition-property: background-image;
transition-duration: 1s;
transition-delay: 0.4s; /* Démarre au bout de 0,4s */
width: 300px;
height: 300px;
border: 0.2em solid black;
margin:auto;

}


.imageFondY{
background-image: url(https://i.imgur.com/5DwVJD9.jpg?1);
transition-property: background-image;
transition-duration: 1s;
transition-delay: 0.4s; /* Démarre au bout de 0,4s */
width: 300px;
height: 300px;
border: 0.2em solid black;
margin:auto;

}

.imageFondZ{
background-image: url(https://i.imgur.com/Zj23Ozk.jpg?2);
transition-property: background-image;
transition-duration: 1s;
transition-delay: 0.4s; /* Démarre au bout de 0,4s */
width: 300px;
height: 300px;
border: 0.2em solid black;
margin:auto;

}



/* Début Test hover



.conteneur:hover .imageFondZ{
  background-color:black ;
  opacity:0.5;
  width: 300px;
  height: 300px;
}

.conteneur:hover .textecaché{
  visibility: visible;
}

*/


.titreArgu {
  text-align: center;

}

.argu{
  text-align: justify;
  margin:auto;
}

.alignVertical{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textecache {
  color:red;
}

.imageDessus {
  display:flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}

#carouselExampleIndicators {
  margin-bottom: 50px;
  margin-top: 100px;

}


/* Enlever le carroussel sur les petits écrans */
@media all and (max-width: 768px)

{

    #carouselExampleIndicators

    {

        display: none;

    }

}


/* Enlever le carroussel sur les petits écrans */

.Concept {
  background-color: rgba( 153, 153, 153, 0.8);
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
  margin-bottom: 50px;
}

.concept {
  background-color: rgba( 153, 153, 153, 0.8);
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.8);
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Définition des polices */

body {

font-family: 'Lato', serif;


}


h1, h2  {
  font-family: 'Ultra', cursive;
}
