
#form_name {
  width: 170px;
}
#form_lastname {
  width: 170px;
}
#form_email {
  max-width: 420px;
  min-width: 90px;

}
#form_message{
  max-width: 440px;
  min-width: 90px;
}
#map{
  width: 620;
  height: 380;
}
footer{
  background-color: lightblue;
  margin-top: 40px;
}
.contactSection{
  margin-top: 180px;
}



.input-icon-wrap {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.input-icon {
  background: #ddd;
}

.form-control {
  border: none;
  flex: 1;
}

.input-icon, .input-with-icon {
  padding: 8px;
}
